*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-03032e: #03032e;
  --color-02021c: #040012;
  --color-624dbf: #232f3e;
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 5px;
}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
  border: .5px;
}
.section-heading{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.breadcrumb p{
  font-size: 14px;
  margin-bottom: 0px;
  
}
.border-bottom{
  border-bottom: 1px solid rgba(0, 0, 0, .25) ;
}

/*Header part */
.header-top-strip{
  border-bottom: 1px solid var(--color-02021c);
  background-color: var(--color-03032e);
}
.header-upper {
  background-color: var(--color-02021c);
}
.header-upper-links{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-left: 1rem;
}
.header-upper h2{
  font-weight: 700;
  font-family: 'Snell Roundhand', cursive;
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.cart{
  color: white;
  display: flex;
  align-items: center;
}
.icon p{
  display: flex;
  flex: column;
  color: white;
  margin: 1px;
}
.icons{
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
}
p{
  font-size: 10px;
}
.header-bottom{
  background-color:var(--color-624dbf) ;
  color: white;
}
.header-bottom .menu-links a{
  color: white;
}
.header-bottom .menu-links a:hover{
  color:rgb(170, 140, 140);
}
.header-bottom .dropdown-menu a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: .3;
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu{
  background-color: var(--color-02021c); 
  width: 100%;
  transform: translated(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item{
  padding: 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid rgba(168, 157, 157, 0.438);
}
.header-bottom .dropdown-menu a:hover{
  background-color: transparent;
  color: darkgoldenrod;
}
.menu-icon{
height: 20px;
width: 20px;
}
/* Header part Ends here */

/*Footer Part Start Here*/
footer{
  background-color: #232f3e;
  font-size: 20px;
}
footer .footer-text{
  font-size: 15px;
}

.footer-list ul{
  list-style: none;
}
a{
  font: white;
}
.apps p{
  font-size: 15px;
 }
 .apps-icon p{
  font-size: 10px;
}

.apple-icon{
  margin-left: 15px;
}
.apple-icon a,
.play-icon a{
  padding-left: 10px;
}
.footer-list a{
  color: rgba(235, 233, 233, 0.863);
  font-size: 15px;
}
.footer-list a:hover{
  color: rgba(218, 204, 204, 0.664);
}

.play-icon img,
.apple-icon img{
  height: 50px;
  width: 50px;
 background-color: white;
 margin-bottom: 10px;
}
.play-icon{
  margin-top: 0;
  padding: 0;
 }
 .footer-top{
  display: flex;
  align-items:center;
  border-bottom: 1px solid rgba(168, 157, 157, 0.438);
 }
 
.footer-list{
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-list-1,
.footer-list-2{
  width: 50%;
}

/* footer part Ends here */

/*Home Page Start Here*/

.main-banner-content{
  top: 15%;
  left: 5%;
}
.button{
  background-color: var(--color-03032e);
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 10px;
}
.button:hover{
  background-color: chocolate;
  color: #040012;
}

.main-banner-content h4{
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(184, 9, 9);
  margin: 0 0 12px;
  letter-spacing: 0.4px;
}
.main-banner-content h5{
  font-size: 20px;
  line-height: 64px;
  color: rgb(71, 27, 175);
font-weight: 500;

}
.main-banner-content p{
  font-size: 15px;
  line-height: 10px;
  letter-spacing: .4;
  color: blue;
}
.main-banner {
margin-top: 1rem;
padding: .1rem;
box-shadow: 0 0 50px #0a0a0a1a;
}

.small-banner-content{
  top: 10%;
  left: 5%;
}

.small-banner-content h4{
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
  margin: 0 0 12px;
  letter-spacing: 0.4px;
}
.small-banner-content h5{
  font-size: 15px;
  line-height: 30px;
  color: rgb(224, 217, 111);
font-weight: 500;
  letter-spacing: 2px;
}
.small-banner-content p{
  font-size: 15px;
  line-height: 10px;
  letter-spacing: .4;
  font-weight: 500;
  color: rgb(243, 243, 245);
}
.small-banner{
  width: 49%;
}
/*Home-wrapper-1 Ends Here*/

/*Home-wrapper-2 starts Here*/
.home-wrapper-2{
  background-color: #f5f5f7;
  width: 100%;
}
.service-icon{
  width: 17%;
  height: 20%;
}
/*Home-wrapper-2 Ends Here*/

/*product Card Start Here*/
.featured-wrapper{
  background-color: #f5f5f7;
}
.product-card{
 background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-card:hover .action-bar{
  right: 15px;
}
.product-card .product-image{
  height: 150px;
}
.product-card .product-image img{
  object-fit: contain;
  transition: .3s;
}
.product-card .product-image img:last-child{
display: none;
width: 65%;
padding-left: 25px;
padding-top: 30px;
}
.product-card .product-image img:nth-child(1){
  width: 80%;
}
.product-card:hover .product-image img:nth-child(1){
display: none;
}
.product-card:hover .product-image img:last-child{
display: block;
}
.product-card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
.product-details{
  padding: 40px;
}
.product-card .product-details h6{
  color: #bf4800;
  font-size: 12px;
}
.product-details h5{
  font-size: 15px;
  color: #13192b;
}
.product-details p{
  font-size: 13px;
  color: #1c1c1b;
}
.action-bar{
  top: 10%;
  right: -20px;
  transition: 0.3s;
}
.description-wrapper p{
  font-size: 14px;
}
.wishlist-icon {
  top: 3%;
  right: 16px;
}
/*Featured Card Ends Here*/

/*Famous card Starts Here*/
.famous-card {
  border-radius: 10px;
  padding-bottom: 50px;
}
.famous-card p{
  font-size: 12px;
}
.famous-card h5{
  line-height: 25px;
  font-size: 20px;
}
/*Famous card Ends Here*/

   /*Special Card starts Here*/
.special-product-card {
  padding:  15px 10px;
  border-radius: 10px;
  background-color: #fff;
}
.special-product-img{
  width: 100%;
}
.special-product-content{
  width: 53%;
}
.special-product-content p{
font-size: 15px;
font-weight: 500;
}

/*special card Ends Here*/

 /*marquee starts Here*/
.marquee-wrapper{
  background-color: #f5f5f7;
  }
  .brand-pic{
    width: 60%;
  }

   /*marquee ends Here*/

/*Our Store Page starts Here*/
.filter-card{
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  padding-top: 10px;
}
.filter-title{
  font-size: 15px;
  font-weight: 500;
  color: #1c1c1b;
}
.filter-card ul,
.filter-card .form-check-label{
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: #777777;
  cursor: pointer;
}
.sub-title{
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1b;
  margin-bottom: 15px;
}
.filter-card .form-check-input:focus{
box-shadow: none;
border-color: rgba(0, 0, 0, .25);
}
.colors{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}
.random-prod-1{
  border-bottom: 1px solid #ededed;
}
.filter-sort-grid{
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.filter-sort-grid p{
  font-size: 14px;
}
.form-select option{
  font-size: 13px;
}
.grid img{
width: 22px;
height: 22px;
background-color: #f2f2f2;
border-radius: 5px;
padding: 4px;
}
.gr-1{
  width: 90%;
  margin-left: 50px;
}
.gr-1 .product-card{
 display: flex;
 gap: 10px;  
}
.gr-1 .product-card .product-image{
 width: 250px;
 height: 250px;
 }
.gr-2{
  width: 48.5%;
}
.gr-2 .product-image{
  width: 350px;
  height: 240px;
  padding-bottom: 0;
}
  .gr-3 {
  width: 31.5%;
}
.gr-4{
  width: 23%;
}
/*Our store Page Ends Here*/

/*contact Page starts Here*/
.contact{
  border-radius: 10px;
  width: 32%;
}
.contact:hover{
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.contact img{
  width: 18%;
  height: 18%;

}
.contact-content h5{
font-size: 25px;
font-weight: 500;
}
.contact-content p{
  font-size: 12px;
  color: #f5f5f7;
  font-weight: 500;
}
.contact-content a{
  font-size: 14px;
  color: #ebdfd9;
}
/*contact Page Ends Here*/


/*compare Page starts Here*/
.compare-product-card,
.wishlist-card{
padding: 20px 15px;
background-color: white;
border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross
{
  top: 5%;
  right: 10px;
  width: 15px;
  cursor: pointer;
}
.compare-product-details h7.price{
font-size: 15px;
line-height: 20px;
font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.compare-product-card .product-detail p{
  font-size: 12px;
}
/*compare Page Ends Here*/

/*login Page starts Here*/
.auth-card p,
.auth-card a {
  font-size: 15px;
}
.auth-card{
  width: 500px;
  margin: 100px auto;
}
/*log in Page ends Here*/

/* main product Page starts Here*/

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 20px;
}
.review-head h5 {
font-size: 14px;
}
.review-head p{
  font-size: 14px;
}
.review-head a{
  font-size: 14px;
  color: black;
}
.review-form h5{
  font-size: 14px;
  color: #777777;
}
.reviews p{
  font-size: 14px;
  color: #777777;
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main-product-image{
  background-color: #fff;
  border-radius: 10px;
}
.main-product-image> div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 300px;
  object-fit: cover;
}
.other-product-images{
  background-color: #fff;
}
.other-product-images> div{
  padding: 30px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, .25);
}
.main-product-details>div{
padding-left: 10px;
padding-top: 7px;
border-bottom: 1px solid rgba(0, 0, 0, .25) ;
}
.main-product-details div>h5{
font-size: 15px;
font-weight: 500;  
}
.main-product-details div>p{
  font-size: 15px;
  color: #696969;
}
.main-product-details a {
  color: #696969;
  font-size: 15px;
}
/*main product Page ends Here*/


/*Cart Page starts Here*/
.cart-header,
.cart-data{
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4{
  font-size: 13px;
  color: #777777;
}
.cart-data h5{
  font-size: 14px;
}
.cart-col-1{
  width: 40%;
}
.cart-col-2{
  width: 10%;
}
.cart-col-3{
  width: 15%;
}
.cart-col-4{
  width: 15%;
}
.cart-card,
.cart-right {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11) ;
  border-radius: 10px;
}
.cart-card h5{
  font-size: 15px;
}
.cart-card p{
  font-size: 14px;
  font-weight: 450;
}
.cart-cross{
  padding-top: 5px;
  left: 54%;
}
/*Cart Page ends Here*/


/*Checkout Page Starts Here*/
.checkout-wrapper p{
  font-size: 13px;
}
.checkout-wrapper h5{
  font-size: 15px;
}
.checkout-wrapper .col-5{
  background-color: #f5f5f7;
}
/*Checkout Page ends Here*/